<div id="error" >
    <script>
        themeChange();
        $("#wordSearchInputBox")
    </script>
    <div id="emojii" >
            &#128533;
     </div>
 <h3 id="errorMessage" >No Defintions Found </h3>
 <p class="errorDefinitions" >Sorry pal, we couldn't find definitions for the word you were looking for. You can try</p>
 <p class="errorDefinitions" >the search again at later time or head to the web instead.</p>
</div>